.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  background-color: white;
  border-width: 1px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin: 10px;
  padding: 10px;
}

.titulo {
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 10px;
  color: #333;
}

.subtitulo {
  margin: 5px;
}

.botao {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  background: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid #4c89e3;
  color: #4c89e3;
  font-size: 18xp;
  font-weight: bold;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.botao:hover {
  background-color: #4c89e3;
  color: white;
}

.post img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  width: 100%;
  height: 50px;
  background-color: #4c89e3;
  color: #fff;
}

header:hover {
  color: #ddd;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
